nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive, sans-serif;
  align-items: center;
  font-size: larger;
  background-color:#3D54A2;
  height: 120px;
  color: #f4f1ec;
  padding: 1.5em; 
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  width: 100%; /*specific width needs to be specified when position fixed used with FLEXBOX*/
  z-index: 9999;
 }
  
nav #nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 1em 1em 1.5em; 
}

.newTweet {
  font-size: 1rem;
  font-family: sans-serif; 
 }

#arrow {
  font-size: 1.3rem;
  color: red;
 }

