.new-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.9%;
  background-color: beige;
  border-radius: 5px;
} 

#tweetform {
  display: flex;
  flex-direction: column;
}

.errormessage {
  color: red;
  font-weight: bold;
  display: none;
}

.input, #tweet-text, .tweetbutton {
  margin-top: 15px;
}

.label {
  font-family: sans-serif;
}

#tweet-text {
  border: none;
  border-bottom: 5px solid black;
  background-color: #f4f1ec;
  background-color: beige;
}

.counter {
  float: right;
  padding-top: 1rem; 
  font-family: 'Bungee', cursive, sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}

.tweetbutton {
  font-family: 'Bungee', cursive, sans-serif;
  background-color: #3D54A2;
  color: #f4f1ec;
}

