.tweetcontainer {
  margin-top: 2em;
  border: 5px solid black;
  border-radius: 5px;
  width: 100%;
  height: 330px;
}

.tweetcontainer:hover {
  box-shadow: 0 5px 15px rgba(18, 17, 17, 0.589);
}

.tweetcontainer::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(18, 17, 17, 0.589);
  transition: opacity 0.3s ease-in-out;
}

.tweetcontheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;   
}

.profilename {
  padding-top: 37px;
  margin: 0;
  width: 7rem;
}

.username {
  margin-right: 2.2%;
}

.iconname{
  display: flex;
}

.fa-user {
  padding: 20px;
  font-size: 50px;
}

article {
  padding: 2%;
  overflow-wrap: break-word;
}

hr {
  border-top: 5px solid black;
  width: 85vw;
  margin-bottom: 0;
}

.icons {
  display: flex;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 7rem; 
  justify-content: space-evenly;
}

.fas:hover {
  color: orange;
}
 
.fas {
  margin: 1%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  padding-top: 0; 
 }






